<div class="footer">
    <div class="footer-logo">

        <img src="/davacad_5a/img/logo_small_white.png" alt="Logo Kochwelt">
        <p>Copyright © 2023 - Kochwelt GmbH</p>
    </div>

    <div class="footer-social-media">
        <a href="https://facebook.com/"><i class="fa-brands fa-facebook fa-3x"></i></a>
        <a href="https://instagram.com/"><i class="fa-brands fa-instagram fa-3x"></i></a>
        <a href="https://youtube.com/"><i class="fa-brands fa-youtube fa-3x"></i></a>

    </div>

    <div class="footer-links">
        <a href="/pages/static/datenschutz.html">Datenschutzerklärung</a>
        <a href="/pages/static/impressum.html">Impressum</a>
        <a href="https://gruppe-425.developerakademie.net/contact.html">Kontakt</a>
    </div>

</div>