<nav class="top-nav">
    <div class="header-logo">
        <a href="/index.html"><img src="/davacad_5a/img/logo.png" alt="Logo Kochwelt"></a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li><a href="https://gruppe-425.developerakademie.net/index.html">Start</a></li>
        <li><a href="https://gruppe-425.developerakademie.net/pages/receipe/thousand-island-salad.html">Rezept des
                Tages</a></li>
        <li><a
                href="https://gruppe-425.developerakademie.net//pages/blog/wie-haelt-sich-obst-und-gemuese-am-laengsten.html">Blog</a>
        </li>
        <li><a href="https://gruppe-425.developerakademie.net/contact.html">Kontakt</a></li>
    </ul>
</nav>